
# ===================================================
# Type d'install : dev / prod pour le socle commun
# ===================================================

PROFIL = ('WEBSERVER', 'WORKSTATION')
LANGUAGES = ('PHP', 'PYTHON', 'C', 'JAVA')


# SSH ===================================================
os_users('Debian','Red hat','Ubuntu','Suse')


# Db ====================================================
db_users('Debian','Red hat','Ubuntu','Suse')


// Quoi chargée
