
# ===================================================
# Type d'install : dev / prod pour le socle commun
# ===================================================

PROFIL = ('SERVER', 'WORKSTATION')
LANGUAGES = ('PHP', 'PYTHON', 'C', 'JAVA')
SOFTWARE = ('NETBEANS', 
            'MYSQL',
            'POSTGRES', 
            'MANGODB', 
            'ORACLE', 
            'APC',
            'FILEZILLA',
            'CHROME',
            )

# SSH ===================================================
OS_USERS = ('Debian','Red hat','Ubuntu','Suse')


# Db ====================================================
db_USERS = ('Debian','Red hat','Ubuntu','Suse')


// Quoi chargée
