
# ===================================================
# Type d'install : dev / prod pour le socle commun
# ===================================================

PROFIL = ('SERVER', 'WORKSTATION')
#LANGUAGES = ('PHP', 'PYTHON', 'C', 'JAVA')
#SOFTWARE = ('NETBEANS', 
#            'MYSQL',
#            'POSTGRES', 
#            'MANGODB', 
#            'ORACLE', 
#            'APC',
#            'FILEZILLA',
#            'CHROME',
#            'VIRTUALBOX'
#            )

#Socle
SOFTWARE=$SOFTWARE" build-essential nano subversion git git-core  geany geany-plugins"
# Multimedia
SOFTWARE=$SOFTWARE" vlc x264 ffmpeg2theora oggvideotools istanbul shotwell mplayer hugin nautilus-image-converter pavucontrol ogmrip transmageddon guvcview wavpack mppenc faac flac vorbis-tools faad lame nautilus-script-audio-convert cheese sound-juicer picard arista nautilus-arista mypaint"
# Network
SOFTWARE=$SOFTWARE" iperf ifstat wireshark tshark arp-scan htop ntop netspeed nmap netpipe-tcp"
# Systeme
SOFTWARE=$SOFTWARE" preload lm-sensors hardinfo fortune-mod libnotify-bin terminator conky-all"
# Web
SOFTWARE=$SOFTWARE" lsb-core ttf-mscorefonts-installer "
# Desktop
SOFTWARE = $SOFTWARE" arandr "

#VCS
SOWFWARE = $SOFTWARE" rabbitvcs-nautilus"

# SSH ===================================================
SSH_USERS = ('Debian','Red hat','Ubuntu','Suse')


# Db ====================================================
DB_USERS = ('Debian','Red hat','Ubuntu','Suse')


// Quoi chargée
